html,
body {
    margin: 0;
    padding: 0;
    height: 100%
}

.leftnavicons{
    margin-right: 10px;
}
.submenuicon {
    right: 0;
    position: absolute;
    margin-right: 20px;
    margin-top: 3px;
}

.mat-list-item {
    padding: 0px 5px !important;
}

.has-sub ul li {
    padding-left: 5px;
    border-bottom: 0px;
}

.has-sub ul a {
    border: 0px;
    padding-left: 20px !important;
}

.has-sub ul li a :hover {
    color: red;
}

.menu,
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    position: relative;
    z-index: 1;
}

.menu a {
    display: block;
    
    padding: 10px 10px;
    color: #fff;
    text-decoration: none;
    transition: all 1s ease;
}

.menu a:hover {
    background: #bbb
}

.menu ul {
    position: relative;
    left: 0;
    top: -100%;
    z-index: -1;
    max-height: 0;
    width: 0;
    display: none;
    /* overflow:hidden; */
    /* background:#aaa; */
    opacity: 0;
    /* transition:all 1s ease; */
    /* -webkit-animation: slide-down 1s ease-out; */
}

.menu li.active>ul {
    top: 0;
    z-index: 2;
    opacity: 1;
    width: 100%;
    max-height: 50em;
    width: 100%;
    display: block;
    /* overflow:visible; */
    /* transition:all 1s ease; */
    -webkit-animation: slide-down 0.6s ease-out;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

li.active>a {
    background: #bbbbbb7a
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: auto;
}

.matheader {
    color: blue;
}

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.background {
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%)
}

.example-sidenav {
    background: rgb(63, 81, 181);
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

.logout {
    cursor: pointer;
    margin-top: 10px;
}

button {
    outline: 0;
}

.mat-list-item {
    color: aliceblue;
}

.example-footer {
    font-size: 10px
}

.paralleldesign {
    display: flex;
    flex-direction: row;
}

.paralleldesign>* {
    width: 100%;
    padding: 10px
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: auto;
}

.matheader {
    color: blue;
}

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}


/* .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
   */

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.mat-header-cell {
    color: blue;
}