<div style="margin-top: 20px">
    <mat-form-field style="float: right;width:auto" class="border-success">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>

    <div class="mat-elevation-z8" id="test">
        <h5 style="padding: 20px;color:blue">User List</h5>
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">

                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column | uppercase}} </th>


                <p *ngIf="column == 'createdAt'">
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{ element[column] | date}}
                    </td>
                </p>

                <p *ngIf="column != 'action'">
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{ element[column] }}
                    </td>
                </p>
                <p *ngIf="column == 'action'">

                    <td mat-cell *matCellDef="let element; index as i;">
                        <!-- <p class="actions" style="float: left;margin-right:10px;"
                            (click)="expandedElement = expandedElement === element ? null : element">

                            <i class="fas fa-info-circle"></i>
                        </p> -->
                        <p class="actions">
                            <!-- <i class="far fa-trash-alt"></i>
                            <a style="margin-left: 10px" [routerLink]="['/give-quotation',element._id]">Give order</a> -->
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="onDelete(element._id)"> 
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>

                                <button mat-menu-item (click)="onEdit(element._id)"> 
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                            </mat-menu>
                        </p>

                    </td>
                </p>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row" [class.example-expanded-row]="expandedElement === element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[ 10, 20, 50,100]"></mat-paginator>
    </div>
</div>